pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/
.shadow-cljs/
node_modules/
.clj-kondo/.cache
/public/js
/public/main.css
.idea
*.iml
/localstack/ready.d/
/terraform/environments/localstack/.terraform.lock.hcl
/terraform/environments/localstack/.terraform/
/terraform/environments/localstack/terraform.tfstate.backup
/volume/
/terraform/environments/localstack/terraform.tfstate
.aider*
/.clj-kondo/imports/com.github.seancorfield/
/.clj-kondo/.lock
/.env
/.envrc
/test-assets/
.clj-kondo/imports/
