{:deps {aero/aero {:mvn/version "1.1.6"} ; Added Aero for config
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
        com.cognitect.aws/api {:mvn/version "0.8.730-beta01"}
        com.cognitect.aws/dynamodb {:mvn/version "871.2.29.52", :aws/serviceFullName "Amazon DynamoDB"}
        com.cognitect.aws/endpoints {:mvn/version "871.2.30.11"}
        com.cognitect.aws/s3 {:mvn/version "871.2.31.23" :aws/serviceFullName "Amazon Simple Storage Service"}
        com.github.seancorfield/honeysql {:mvn/version "2.7.1295"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1002"}
        com.github.sikt-no/clj-jwt {:mvn/version "0.5.98"}
        com.mchange/c3p0 {:mvn/version "0.10.2"}
        com.mchange/c3p0-loom {:mvn/version "0.10.2"} ; Added c3p0-loom for virtual threads
        com.pitch/uix.core {:mvn/version "1.3.0"}
        com.pitch/uix.dom {:mvn/version "1.3.0"}
        com.walmartlabs/lacinia {:mvn/version "1.2.2"}
        dev.weavejester/ragtime {:mvn/version "0.11.0"}
        dk.emcken/aws-simple-sign {:mvn/version "2.1.0"}
        integrant/integrant {:mvn/version "0.13.1"}
        meta-merge/meta-merge {:mvn/version "1.0.0"}
        metosin/jsonista {:mvn/version "0.3.13"}
        metosin/malli {:mvn/version "0.18.0"}
        metosin/reitit {:mvn/version "0.8.0-alpha1"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/clojurescript {:mvn/version "1.12.42"}
        org.clojure/tools.logging {:mvn/version "1.3.0"} ; Added logging
        org.postgresql/postgresql {:mvn/version "42.7.4"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}   ; SLF4J simple binding
        ring/ring {:mvn/version "1.14.1"}
        ring/ring-jetty-adapter {:mvn/version "1.14.1"}
        ring/ring-json {:mvn/version "0.5.1"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-deps {binaryage/devtools {:mvn/version "1.0.7"}
                              dev.weavejester/hashp {:mvn/version "0.3.0"}
                              integrant/repl {:mvn/version "0.4.0"}
                              org.duct-framework/compiler.cljs.shadow {:mvn/version "0.1.2"}
                              thheller/shadow-cljs {:mvn/version "3.1.4"}}}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
                   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
                   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}
           :test {:extra-paths ["test"]
                  :extra-deps {eftest/eftest {:mvn/version "0.6.0"}}
                  :jvm-opts    ["-Duser.timezone=UTC"] ; Ensure tests run in UTC
                  :exec-fn     runner/find-and-run-tests}
           :server {:main-opts ["-m" "app.server"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6" :git/sha "52cf7d6"}}
                   :ns-default build}
           :test-e2e {:extra-paths ["test_e2e"]
                      :extra-deps {etaoin/etaoin {:mvn/version "1.1.43"}
                                   clj-test-containers/clj-test-containers {:mvn/version "0.7.4"
                                                                            :exclusions [org.testcontainers/testcontainers]}
                                   org.testcontainers/testcontainers {:mvn/version "1.21.0"}
                                   eftest/eftest {:mvn/version "0.6.0"}} ; For the test runner
                      :jvm-opts    ["-Duser.timezone=UTC"]
                      :exec-fn     e2e.runner/find-and-run-tests
                      :exec-args   {:test-dir "test_e2e"}}}}
