.card {
    aspect-ratio: 63 / 88;
    width: 25em;
    border: 1px solid #555;
    border-radius: 1em;
    padding: .75em;
    display: flex;
    flex-direction: column;
}

.card .card-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card .card-header h1 {
    font-size: 1em;
    margin: 0;
}

.card .card-art {
    flex-grow: 1;
    border: 1px solid #333;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
}

.card .card-art .card-img-placeholder {
    background: #cdcdcd;
    height: 100%;
    border-radius: 0.5em;
}

.card .card-art img {
    border-radius: 0.5em;
    object-fit: cover;
    flex-grow: 1;
}

.card .card-art h2.card-type {
    font-size: 1em;
    background: #fff;
    margin: -10px auto;
    width: fit-content;
    padding: 0 1em;
    border-radius: 0.5em;
}

.card .player-stats-top ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1.5em 0 1em;
    padding: 0;
}

.card .player-stats-top ul li {
    padding: 0 .5em;
    border: 1px solid #333;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.card .player-stats-top ul li + li{
    border-left: none;
}

.card .player-stats-bottom ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
}

.card .player-stats-bottom ul li {
    padding: 0 .5em;
    border: 1px solid #333;
    text-align: center;
    font-weight: 500;
    width: 33%;
}
