{:lint-as {uix.core/defui clojure.core/defn}
 :hooks {:analyze-call {app.db/with-transaction hooks.app.db/with-transaction
                        app.db/with-connection  hooks.app.db/with-connection
                        app.graphql.resolvers/defresolver hooks.app.graphql.resolvers/defresolver
                        app.integrant/with-system hooks.dev.integrant/with-system}}
 :linters {:unsorted-imports {:level :warning}
           :unsorted-required-namespaces {:level :warning}}}
