{:app-port #profile {:default #long #or [#env APP_PORT "3000"]
                     :test  9000}
 :database-url #profile {:default #or [#env DATABASE_URL "jdbc:postgresql://localhost:5432/blood_basket?user=postgres&password=password"]
                         :test  "jdbc:postgresql://localhost:5432/blood_basket_test?user=postgres&password=password"}
 :auth {:cookie-name "BB_COOKIE"
        :google-jwks "https://www.googleapis.com/oauth2/v3/certs"}}
