{:app-port #profile {:default #long #or [#env APP_PORT "3000"]
                     :test  9000}
 :database-url #or [#env DATABASE_URL #profile {:default  "jdbc:postgresql://localhost:5432/blood_basket?user=postgres&password=password"
                                                :test  "jdbc:postgresql://localhost:5432/blood_basket_test?user=postgres&password=password"}]
 :s3 {:bucket-name "bashketball-assets"}
 :game-assets {:asset-path "game-assets"}
 :aws-opts #profile {:default {:region "us-east-1"
                               :endpoint-override {:protocol :http
                                                   :hostname "localhost"
                                                   :port 4566}}}
 :auth {:cookie-name "BB_COOKIE"
        :google-jwks "https://www.googleapis.com/oauth2/v3/certs"}}
