{:dev.shadow-cljs/compile {:build
                           {:target     :node-test
                            :output-to  "target/cljs-tests.js" ;; Single output file for Node.js execution
                            :compiler-options {:source-map true}
                            :ns-regexp "-test$"}}}
