{:app.config/config               {}
 ;; :app.server/jetty                {:handler #ig/ref :app.server/router
 ;;                                   :config #ig/ref :app.config/config
 ;;                                   :reload? true}
 ;; :app.server/router               {:session-authenticator #ig/ref :app.authn/session-authenticator
 ;;                                   :session-creator #ig/ref :app.authn/session-creator
 ;;                                   :schema-handler #ig/ref :app.graphql/schema-handler}
 ;; :app.authn/token-authenticator   {}
 ;; :app.authn/session-authenticator {}
 ;; :app.authn/session-creator       {:authenticator #ig/ref :auth/token-authenticator}
 :app.db/pool                     {:config #ig/ref :app.config/config}
 ;; :app.graphql/schema-handler      {}
 ;; :app.shadow/server               {}
 }
