{:objects
 {:User {:fields {:id {:type String}
                  :username {:type String}
                  :enrollment {:type String}}}
  :Query {:fields
          {:me {:type :User}}}}}

{:User {:fields {:id {:type (non-null String)},
                 :enrollment-state {:type (non-null String)},
                 :username {:type String}}}}
